<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
  
  <configuration>
  	<typeAliases>
  		<typeAlias alias="bean"  type="com.hb.ex05.model.entity.GuestVo"/>
  	</typeAliases>
  	<mappers>
  		<mapper resource="config/guestMapper.xml"/>
  	</mappers>
  </configuration>