<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
  
  <mapper namespace="com.hb.ex05.model.GuestDao">
  	<select id="selectAll" resultType="bean">
  	SELECT * FROM GUEST03
  	</select>
  	<insert id="insertOne" parameterType="bean">
  	INSERT INTO GUEST03 VALUES (#{sabun}, #{name}, NOW(), #{pay})
  	</insert>
  	<select id="selectOne" parameterType="int" resultType="bean">
  	SELECT * FROM GUEST03 WHERE SABUN=#{value}
  	</select>
  	<update id="updateOne" parameterType="bean" >
  	UPDATE GUEST03 SET NAME=#{name}, PAY=#{pay} WHERE SABUN=#{sabun}
  	</update>
  	<delete id="deleteOne" parameterType="int" >
  	DELETE FROM GUEST03 WHERE SABUN=#{value}
  	</delete>
  	<update id="payPlus" parameterType="int">
  	UPDATE GUEST03 SET PAY=PAY+1 WHERE SABUN=#{value}
  	</update>
  </mapper>